.home {
    background-color: $color1;
    width: 100vw;
    height: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    gap: 10px;
}