.logo-light{
    font-weight: bold;
    font-size: 3rem;
    color: $color2;
    font-family: $lofo-font;
}

.logo-dark{
    font-weight: bold;
    font-size: 3rem;
    color: black;
    font-family: $lofo-font;
}